<header
    class="fixed w-full z-10 h-[110px] text-primary-color top-0 py-1.5 bg-tertiary-color bg-[url('/assets/GrainTexture_15.jpg')] bg-blend-multiply">
    <div
        class="m-b-5 h-full  flex items-center justify-between px-10 border-secondary-color border-t border-b border-dashed">
        <div class="flex gap-5 flex-grow">
            <div translate="no" class="flex gap-3 items-center select-none">
                <img width="70" src="assets/Bearflix.png" alt="Bearflix logo" />
                <h2 class="font-title-font text-5xl" no>Bearflix</h2>
            </div>

            <ul class="content-center flex items-center gap-16 flex-grow center justify-center ">
                <li *ngFor="let item of navList"
                    class="cursor-pointer font-extralight hover:text-gray-400 transition-[1s] text-xl">
                    {{item}}</li>
            </ul>
        </div>

        <div id="#profile-section" class=" flex items-center gap-2">
            <div class="flex items-center gap-2">
                <a href="/"><span>Welcome <strong>{{name}}</strong></span></a>
                <img class="rounded-full" [src]="userImage" width="42" />
            </div>
            &nbsp; | &nbsp;
            <a href="/">Signout</a>
        </div>
    </div>
</header>