<header class="h-[68px] z-10 bg-gray-900 sticky top-0 flex items-center justify-between px-10">
    <div class="flex gap-5">
        <img width="110" src="assets/Notflix.png" alt="notflix logo" />
        <ul *ngFor="let item of navList" class="content-center">
            <li class="text-neutral-200 cursor-pointer text-sm font-extralight hover:text-gray-400 transition-[1s]">
                {{item}}</li>
        </ul>
    </div>

    <div class="text-white flex items-center gap-4">
        <div class="flex items-center gap-2">
            <a href="/"><span>Welcome <strong>{{name}}</strong></span></a>
            <img class="rounded-full" [src]="userImage" width="42" />
        </div>
        &nbsp; | &nbsp;
        <a href="/">Signout</a>
    </div>
</header>