<div class="container mt-14 mb-20 blue px-site pt-6">
    <p class="text-tertiary-color font-title-font  text-6xl  my-3 ml-3 t font-extrabold ">{{title}}</p>
    <div #swiperContainer class="swiper-container">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let movie of videoContents">
                <div class="swiper-slide h-[320px] border-2 border-solid border-tertiary-color">
                    <app-movie-carousel-item [movie]="movie" [onClicked]="onItemClicked" />
                </div>
            </ng-container>
        </div>
    </div>
</div>