<div class="container px-20 mt-14 mb-20 blue ">
    <p class="text-tertiary-color font-title-font  text-6xl  my-3 ml-3 t font-extrabold ">{{title}}</p>
    <div #swiperContainer class="swiper-container">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let movie of videoContents">
                <div (mouseenter)="setHoverMovie(movie)" (mouseleave)="clearHoverMovie()"
                    class="swiper-slide relative border-2 border-solid border-tertiary-color">
                    <img [src]=" movie.poster_path | image" alt="" />
                    <div @fade *ngIf="movie.title === this.selectedContent || (movie.name === this.selectedContent)"
                        class="desc py-2 bg-tertiary-color bg-[url('/assets/GrainTexture_20.jpg')] bg-blend-multiply opacity-95
                        overflow-hidden">
                        <div class=" h-full border-secondary-color border-t border-b border-dashed pt-2 px-2">
                            <span
                                class="text-base  text-secondary-color flex flex-wrap font-bold">{{movie.original_title}}</span>
                            <p class="text-xs text-primary-color my-3 ">{{movie.overview | description:160}}</p>
                            <div class="py-3 absolute w-[90%] bottom-1">
                                <p class="text-xs text-primary-color">
                                    Vote Average: <span class="text-green-500"> {{movie.vote_average}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>