<div class="h-screen flex justify-center items-center border-red-600
">
    <div class="h-[700px] w-[500px] 
              bg-secondary-color bg-[url('/assets/GrainTexture_20.jpg')] bg-blend-multiply 
              rounded-xl flex flex-col
              border-2 border-solid border-tertiary-color">
        <div class="h-[430px] flex items-center justify-center">
            <img src="assets/Bearflix.png" width="400" />
        </div>
        <div class="bg-tertiary-color bg-[url('/assets/GrainTexture_20.jpg')] 
                      bg-blend-multiply flex-grow rounded-b-lg py-3
                      ">
            <div class=" border-secondary-color border-y-2 border-dashed h-full
                    flex flex-col items-center justify-center gap-2">
                <h1 class="font-title-font  text-primary-color text-9xl">Bearflix</h1>
                <div id="google-btn" class="pb-5"></div>
            </div>
        </div>
    </div>
</div>