<footer
    class="w-full z-10 h-[110px]   text-primary-color top-0 py-1.5 bg-tertiary-color bg-[url('/assets/GrainTexture_15.jpg')] bg-blend-multiply">
    <div class="m-b-5 h-full  flex items-center justify-between px-10 border-secondary-color border-y border-dashed">
        <div class="flex gap-5 flex-grow">
            <div translate="no" class="flex gap-3 items-center select-none">
                <img width="45" src="assets/Bearflix.png" alt="Bearflix logo" />
                <h2 class="font-title-font text-3xl" no>Bearflix</h2>
            </div>
        </div>
    </div>
</footer>