<div
    class="w-full z-10  text-primary-color top-0 py-1.5 bg-tertiary-color bg-[url('/assets/GrainTexture_15.jpg')] bg-blend-multiply">
    <footer class="w-full px-site border-secondary-color border-y border-dashed ">
        <div class="flex gap-[6%]">
            <div class="basis-4/12 py-3">
                <div translate="no" class="flex gap-3 items-center select-none">
                    <img width="46" src="assets/Bearflix.png" alt="Bearflix logo" />
                    <h2 class="font-title-font text-2xl text-secondary-color" translate="no">Bearflix</h2>
                </div>
                <p class="text-xl pt-2 leading-9">At Bearflix, we provide a bear-illiant collection of retro and
                    bear-themed movies. While you can't watch the films directly here, we're here to help you claw your
                    way
                    to the best bear and classic flicks out there. Let us help you find the perfect films to make your
                    movie nights truly bear-tastic. </p>
            </div>
            <div class="basis-5/12 py-3">
                <h2 class="font-title-font text-2xl mt-[7px] text-secondary-color" translate="no">Links</h2>
                <ul class="text-xl pt-2 mt-[7px]">
                    <li class="     cursor-pointer ont-extralight hover:text-gray-400 transition-[1s]">
                        <a
                            href="mailto:info@bearlyhumancode.com?subject=Inquiry%20About%20Services&body=Hello%20team%2C%0A%0AI%20am%20interested%20in%20your%20services.%20Could%20you%20please%20provide%20me%20with%20more%20information?%0A%0AThank%20you.%0A%0ABest%20regards%2C%0AYour%20Name">info&#64;bearlyhumancode.com</a>

                    </li>
                    <li class="pt-2 cursor-pointer ont-extralight hover:text-gray-400 transition-[1s] ">
                        <a href="http://www.bearlyhumancode.com" target="_blank">www.bearlyhumancode.com</a>
                    </li>
                    <li class="pt-2 cursor-pointer ont-extralight hover:text-gray-400 transition-[1s] ">
                        <a href="https://www.jorikweymans.be/" target="_blank">portfolio</a>
                    </li>
                    <li class="pt-2 cursor-pointer ont-extralight hover:text-gray-400 transition-[1s] ">
                        <a href="https://www.linkedin.com/in/jorikweymans/" target="_blank">linkedin</a>
                    </li>
                    <li class="pt-2 cursor-pointer ont-extralight hover:text-gray-400 transition-[1s] ">
                        <a href="https://www.themoviedb.org/" target="_blank">movie data</a>
                    </li>
                </ul>
            </div>
            <div class=" basis-3/12 py-3 flex flex-col justify-between">
                <div>
                    <h2 class="font-title-font text-2xl mt-[7px] text-secondary-color" translate="no">Navigation</h2>
                    <ul class="text-xl pt-2 mt-[7px]">
                        <li class="pt-2" *ngFor="let item of navList">
                            <app-page-link [text]="item" [offset]="150"
                                class="cursor-pointer font-extralight hover:text-gray-400 transition-[1s] "></app-page-link>
                        </li>
                    </ul>
                </div>
                <div class="text-primary-color text-base leading-3 py-1">©2024 Bearflix. All rights reserved.
                </div>
            </div>
        </div>

    </footer>

</div>