@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'node_modules/swiper/swiper.scss';

@layer base {
    @font-face {
        font-family: 'CarnevaleeFreakshow';
        src: url('./assets/Fonts/CarnevaleeFreakshow.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
    }

    @font-face {
        font-family: 'Trepang';
        src: url('./assets/Fonts/Trepang.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
    }
}