<!-- component -->
<app-header [userImage]="profileImage" [name]="name" />
<div class="h-[110px]"></div>
<app-banner [title]="(bannerDetail$ | async)?.original_title" [overview]="(bannerDetail$ | async)?.overview"
    [key]="(bannerVideo$ | async)?.results[0].key" />
<app-movie-carousel [title]="'BEARFLIX RECOMENDATIONS'" [videoContents]="bearMovies" />
<app-movie-carousel [title]="'Trending TV shows'" [videoContents]="tvShows" />
<app-movie-carousel [title]="'Now Playing Movies'" [videoContents]="nowPlayingMovies" />
<app-movie-carousel [title]="'Popular Movies'" [videoContents]="popularMovies" />
<!-- <app-movie-carousel [title]="'Top Rated Movies'" [videoContents]="topRatedMovies" />-->
<app-movie-carousel [title]="'Upcoming Movies'" [videoContents]="upcomingMovies" />
<app-footer />