<!-- component -->
<app-header [userImage]="profileImage" [name]="name" />
<div class="h-[110px]"></div>
<app-banner [title]="(bannerDetail$ | async)?.original_title" [overview]="(bannerDetail$ | async)?.overview"
    [key]="(bannerVideo$ | async)?.results[0].key" [content]="bannerContent" [onReadMore]="openMovieModal" />

<app-movie-carousel [title]="'BEARFLIX RECOMENDATIONS'" [videoContents]="bearMovies" [onItemClicked]="openMovieModal" />
<app-movie-carousel [title]="'CLASSICS MOVIES'" [videoContents]="classicMovies" [onItemClicked]="openMovieModal" />
<app-movie-carousel [title]="'POPULAR MOVIES'" [videoContents]="ratedMovies" [onItemClicked]="openMovieModal" />

<app-footer />